html {
	background: var(--md-ref-palette-neutral99);
	font-size: 14px;
	color-scheme: light dark;
}
body {
	color: var(--md-ref-palette-neutral10);
	font-family: 'Asap SemiCondensed', Asap, Lato, -apple-system, BlinkMacSystemFont, Roboto, Verdana, sans-serif;
	font-size: 1rem;
	margin: 1rem;
}
a:link,
a:visited {
	color: inherit;
	text-decoration-style: dotted;
}
a:hover {
	color: inherit;
	text-decoration-style: solid;
}
main.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
main.wrapper > .shrink {
	flex: 0 0 auto;
	max-width: 100%;
	display: inline-flex;/* shrink to the table width */
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	gap: 1rem;
}
main.wrapper > .shrink > * {
	flex: 0 0 auto;
}
main.wrapper > .shrink > * > .nogrow {
	width: 0 !important;
	min-width: 100% !important;
	max-width: 100% !important;
	box-sizing: border-box !important;
}
h1.title {
	color: var(--md-ref-palette-primary10);
	margin: .5em 0;
	font-size: 1.45em;
	font-weight: 600;
	text-align: center;
}
section.schedule {
	overflow: auto hidden;
	border-radius: 8px;
}
section.schedule table {
	background: var(--md-ref-palette-primary95);
	color: var(--md-ref-palette-primary20);
	border-collapse: collapse;
}
section.schedule table th,
section.schedule table td {
	padding: .5em;
	vertical-align: top;
	text-align: left;
	font-weight: 400;
}
section.schedule table tr.week {
	background: var(--md-ref-palette-primary20);
	color: var(--md-ref-palette-primary100);
}
section.schedule table tr.week > th {
	font-weight: 600;
	text-align: center;
	white-space: nowrap;
}
section.schedule table tr.activity {
	background: var(--md-ref-palette-primary30);
	color: var(--md-ref-palette-primary100);
}
section.schedule table tr.activity > th {
	font-weight: 500;
}
section.schedule table tr.location > th.location {
	background: var(--md-ref-palette-primary40);
	color: var(--md-ref-palette-primary100);
}
section.schedule table tr.location > td.instance {
	text-align: center;
	white-space: nowrap;
}
section.schedule table tr.location > td.instance:nth-of-type(even) {
	background: var(--md-ref-palette-primary92);
}
section.schedule table tr.location > td.instance > div.exception {
	color: var(--md-ref-palette-primary40);
	font-size: 0.75em;
	margin-top: .2em;
}
section.notification {
	background: var(--md-ref-palette-tertiary90);
	color: var(--md-ref-palette-tertiary10);
	padding: .25em .5em;
	border-radius: 8px;
}
section.notification > p {
	margin: .25em 0;
}
section.notification > div.date {
	color: var(--md-ref-palette-tertiary40);
	text-align: right;
	font-size: 0.75em;
	margin: .25em 0;
}
section.upcoming > div.inner {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: flex-start;
	overflow: auto hidden;
	min-height: 16em;
	max-height: 25vh;
	gap: .75em;
	padding-bottom: .5rem;/* make the scrollbar have some padding */
	margin-bottom: -.5rem;
}
section.upcoming > div.inner > section.day {
	background: var(--md-ref-palette-primary95);
	color: var(--md-ref-palette-primary20);
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	min-width: 12em;
	max-width: 12em;
	min-height: 0;
	border-radius: 8px;
	overflow: hidden;
}
section.upcoming > div.inner > section.day > * {
	line-height: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 0;
	min-height: 0;
}
section.upcoming > div.inner > section.day > h2.date {
	background: var(--md-ref-palette-primary20);
	color: var(--md-ref-palette-primary100);
	flex: 0 0 auto;
	margin: 0;
	padding: .5em;
	font-size: inherit;
	font-weight: 600;
}
section.upcoming > div.inner > section.day > div.events {
	flex: 1;
	overflow: hidden auto;
}
section.upcoming > div.inner > section.day > div.events > div.event {
	padding: .25em;
}
section.upcoming > div.inner > section.day > div.events > div.event.cancelled {
	color: var(--md-ref-palette-error20);
	opacity: 0.5;
}
section.upcoming > div.inner > section.day > div.events > div.event > * {
	margin: .25em;
}
section.upcoming > div.inner > section.day > div.events > div.event > div.activity {
	font-weight: 600;
}
section.upcoming > div.inner > section.day > div.events > div.event.cancelled > div.activity {
	text-decoration: line-through;
}
section.upcoming > div.inner > section.day > div.events > div.event > div.location::before,
section.upcoming > div.inner > section.day > div.events > div.event > div.time::before {
	font-family: 'Material Symbols Subset';
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	vertical-align: top;
	margin-right: .25em;
	line-height: 1;
}
section.upcoming > div.inner > section.day > div.events > div.event > div.location::before {
	content: '\E55F';
}
section.upcoming > div.inner > section.day > div.events > div.event > div.time::before {
	content: '\E192';
}
section.upcoming > div.inner > section.day > div.events > div.event > div.icon > svg {
	display: block;
	position: absolute;
	top: 0;
	left: -.35em;
	bottom: 0;
	height: 100%;
	fill: currentColor;
}
footer.info {
	background: var(--md-ref-palette-neutral-variant90);
	color: var(--md-ref-palette-neutral-variant30);
	font-size: .875em;
	padding: .25em .5em;
	border-radius: 8px;
}
footer.info > p {
	margin: .25em 0;
}
@media screen and (prefers-color-scheme: dark) {
	html {
		background: var(--md-ref-palette-neutral0);
	}
	body {
		color: var(--md-ref-palette-neutral90);
	}
	h1.title {
		color: var(--md-ref-palette-primary90);
	}
	section.schedule table {
		background: var(--md-ref-palette-primary12);
		color: var(--md-ref-palette-primary90);
	}
	section.schedule table tr.week {
		background: var(--md-ref-palette-primary12);
		color: var(--md-ref-palette-primary90);
	}
	section.schedule table tr.activity {
		background: var(--md-ref-palette-primary17);
		color: var(--md-ref-palette-primary90);
	}
	section.schedule table tr.location > th.location {
		background: var(--md-ref-palette-primary25);
		color: var(--md-ref-palette-primary90);
	}
	section.schedule table tr.location > td.instance:nth-of-type(even) {
		background: var(--md-ref-palette-primary10);
	}
	section.schedule table tr.location > td.instance > div.exception {
		color: var(--md-ref-palette-primary60);
	}
	section.notification {
		background: var(--md-ref-palette-tertiary10);
		color: var(--md-ref-palette-tertiary90);
	}
	section.notification > div.date {
		color: var(--md-ref-palette-tertiary60);
	}
	section.upcoming > div.inner > section.day {
		background: var(--md-ref-palette-primary17);
		color: var(--md-ref-palette-primary90);
	}
	section.upcoming > div.inner > section.day > h2.date {
		background: var(--md-ref-palette-primary12);
		color: var(--md-ref-palette-primary90);
	}
	section.upcoming > div.inner > section.day > div.events > div.event.cancelled {
		color: var(--md-ref-palette-error80);
	}
	footer.info {
		color: var(--md-ref-palette-neutral-variant70);
		background: var(--md-ref-palette-neutral-variant10);
	}
}
@media print {
	@page {
		size: landscape;
		margin: 1cm;
	}
	html {
		background: #fff;
	}
	body {
		print-color-adjust: exact;
		margin: 0;
	}
	section.schedule {
		overflow: hidden;
	}
	section.upcoming {
		display: none;
	}
}
